{% extends 'main/base.html' %}
{% block content %}
<div class="jumbotron  text-center">
    <h1 class="display-3">Главная страница</h1>
    <p class="lead"></p>

    <div class="container text-center">
        <br>
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a type="button" class="btn btn-success btn-block mb-2" href="{% url 'main:massage_create' %}" style="width:50%">Создать
                            рассылку</a>
                    </li>
                    <li class="list-group-item">
                        <a type="button" class="btn btn-primary btn-block mb-2" href="{% url 'main:massage_list' %}" style="width:50%">Список
                            рассылок</a>
                    </li>
                    <li class="list-group-item">
                        <a type="button" class="btn btn-primary btn-block mb-2" href="#" style="width:50%">Отчет по
                            рассылкам</a>
                    </li>
                    <li class="list-group-item">
                        <a type="button" class="btn btn-primary btn-block mb-2" href="#" style="width:50%">Расписание
                            рассылок</a>
                    </li>
                    <li class="list-group-item">
                        <a type="button" class="btn btn-primary btn-block mb-2" href="#" style="width:50%">Список
                            клиентов</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
