{% extends 'main/base.html' %}
{% block content %}
<div class="col-12">
    <form class="row justify-content-center" method="post" enctype="multipart/form-data">

        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3 class="card-title">Создание сообщения</h3>
                </div>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-lg btn-block btn-success">
                    {% if object %}
                    Обновить
                    {% else %}
                    Создать
                    {% endif %}
                </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}