{% extends 'main/base.html' %}
{% block content %}
<div class="col-12 mx-auto d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Удалить рассылку "{{object.head|title}}"?</p>
                        <button type="submit" class="btn btn-success">
                            Подтвердить
                        </button>
                        <a href="{% url 'main:massage_view' object.pk %}" class="btn btn-danger">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}