{% extends 'main/base.html' %}
{% block content %}
<div class="jumbotron  text-center">
    <h1 class="display-3">Отчет по рассылкам</h1>
    <p class="lead"></p>

    <div class="container text-center">
        <br>
        <div class="row">
            <div class="col">
                <table class="table" style="">
                    <thead>
                    <tr>
                        <th>ID Рассылки</th>
                        <th>Тема рассылки</th>
                        <th>Периодичность рассылки</th>
                        <th>Статус рассылки</th>
                        <th>Заданное время рассылки</th>
                        <th>Время последней попытки</th>
                        <th>Клиенты</th>
                        <th>Статус попытки</th>
                        <th>Ответ сервера</th>
                        <th>Принадлежность вам</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for settings in object_list.all%}
                    {% for massage in settings.massage.all %}
                    <tr>
                        <td scope="row">{{ massage.pk }}</td>
                        <td>{{ massage.head }}</td>
                        <td>{{ settings.frequency }}</td>
                        <td>{{ settings.status }}</td>
                        <td>{{ settings.time }}</td>
                        <td>
                            {% for logs in massage.logs.all %}
                                {{ logs.datatime }}
                            <br>
                            {% endfor %}
                        </td>
                        <td>
                            {% if settings.client.all %}
                            {% for cl in settings.client.all %}
                            {{ cl }}
                            {% endfor %}
                            {% else %}
                            --------
                            {% endif %}
                        </td>
                        <td>
                            {% for logs in massage.logs.all %}
                                {{ logs.status }}
                            <br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for logs in massage.logs.all %}
                                {{ logs.response }}
                            <br>
                            {% endfor %}
                        </td>
                        <td>
                             {%if settings.user == user%}
                            <span style="color: green;">&#10003;</span>
                            <br>
                            {%endif%}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'main:index'%}" type="button"
                   class="btn btn-lg btn-block btn-outline-primary">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}