{% extends 'main/base.html' %}
{% block content %}
<div class="col-12">
    <form class="row justify-content-center" method="post" enctype="multipart/form-data">

        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3 class="card-title">Создание настроек</h3>
                </div>
                {% csrf_token %}

                <div class="fieldWrapper">
                    {{ form.time.errors }}
                    {{ form.time.label_tag }}
                    <br>
                    {{ form.time }}
                    {% if form.time.help_text %}
                    <p class="help" id="{{ form.time.auto_id }}_helptext">{{ form.time.help_text|safe }}</p>
                    {% endif %}
                </div>

                <div class="fieldWrapper">
                    {{ form.frequency.errors }}
                    {{ form.frequency.label_tag }}
                    <br>
                    {{ form.frequency }}
                    {% if form.frequency.help_text %}
                    <p class="help" id="{{ form.frequency.auto_id }}_helptext">{{ form.frequency.help_text|safe }}</p>
                    {% endif %}
                </div>

                    <div class="fieldWrapper">
                        {{ form.client.errors }}
                        {{ form.client.label_tag }}
                        <br>
                        {{ form.client }}
                        {% if form.client.help_text %}
                        <p class="help" id="{{ form.client.auto_id }}_helptext">{{ form.client.help_text|safe }}</p>
                        {% endif %}
                    </div>

                    <div class="fieldWrapper">
                        {{ form.massage.errors }}
                        {{ form.massage.label_tag }}
                        <br>
                        {{ form.massage }}
                        {% if form.massage.help_text %}
                        <p class="help" id="{{ form.massage.auto_id }}_helptext">{{ form.massage.help_text|safe }}</p>
                        {% endif %}
                    </div>

                <button type="submit" class="btn btn-lg btn-block btn-success">
                    {% if object %}
                    Обновить
                    {% else %}
                    Записать
                    {% endif %}

                </button>
                <br>
                <a href="{% url 'main:settings_list'%}" type="button"
               class="btn btn-lg btn-block btn-outline-primary">Назад</a>
            </div>
        </div>
    </form>
</div>


{% endblock %}